/* reset */
body {
  margin: 0;
}
h2, h3 {
  margin: 0;
}

/* Navbar starts */

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color:rgba(51, 51, 51, 0.158);
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    z-index: 100; /* Position the navbar above the background */
}


.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav ul li {
    margin-bottom: 5px;
    display: inline-block;
  }
  
  .nav ul li .navlink {
    color: #174041;
    text-decoration: none;
    padding: 0 15px;
    text-shadow: 4px 4px 4px #0c0000;
  }

  .logo {
    width: 150px;
    height: auto;
  }

/* Navbar ends */

/* Slideshow */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: 200px 0px 0px 400px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #174041;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #e8d0b3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* General Style */
body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 2em;
  color: #002434;
}
h3 {
  font-size: 1.5em;
  color: #002434;
}
p {
  font-size: 1em;
  color: #743c08;
}

/* Index */
/* Menu */
#menus {
  background-color: #174041;
  text-align: center;
  padding: 50px;
  margin-top: 50px;
}
#menus h2 {
  font-size: 2em;
  text-shadow: 4px 4px 4px #0c0000;
  text-align: center;
  margin-bottom: 30px;
  color: #e8d0b3;
}
#menus p {
  font-size: 1em;
  color: rgb(61, 60, 60);
  text-align: center;
}
#menus .menu-container {
  width: 540px;
  height: 280px;
  background-color: #e8d0b3;
  position: relative;
  display: inline-block;
  margin-right: 30px;
  padding: 40px;
  border-radius: 40px;
  text-align: center;
}
#menus .menu-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  position: absolute;
  right: 40px;
  border-radius: 20px;
}
#menus .menu-detail {
  position: absolute;
  width: 240px;
}
#menus .video-container {
  margin-top: 50px;
}
#main-footer {
  background-color: #174041;
  padding: 30px;
  color: white;
}

/* Locations */
#locations {
  background-color: #eb7228;
  padding: 50px;
}
#locations .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#locations .info-content {
  margin-right: 100px;
}
#locations .info-content h2 {
  font-size: 2em;
}
/* button styling */
#locations .info-content .btn {
  text-decoration: none;
  background-color: #174041;
  color: #fff;
  display: inline-block;
  padding: 20px 35px;
  margin-top: 30px;
  border-radius: 10px;
  transition: all 0.5s;
}
#locations .info-content .btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
/* hide arrow at first */
#locations .info-content .btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
/* when hover the button, show arrow */
#locations .info-content .btn:hover span {
  padding-right: 25px;
}
#locations .info-content .btn:hover span:after {
  opacity: 1;
  right: 0;
}
#locations img {
  border-radius: 20px;
}
/* addresses */
#locations .flex-container.align {
  justify-content: space-around;
}
#locations .box {
  background-color: #fff;
  margin: 50px 10px 0;
  padding: 30px 50px;
  border-radius: 30px;
  text-align: center;
}
#locations .box i {
  background-color: #174041;
  color: white;
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 20px;
}


/* About Us */
/* Hero Image */
#hero {
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative; /* Set the position of the parent element */
  display: inline-block; /* Set as an inline block element */
}
#hero::before {
  content: ""; /* Add content to the pseudo-element */
  position: absolute; /* Set to absolute position */
  top: 0;
  left: 0;
  width: 100%; /* Fill the parent element's width */
  height: 100%; /* Fill the parent element's height */
  background-color: rgba(0,0,0,0.5); /* Set a semi-transparent black background (0.5 is the opacity) */
  z-index: 1; /* Place it above the image */
}
#hero img {
  object-fit: cover;
  display: block; /* Reset default image properties */
  width: 100%; /* Make the image fill the width of the parent element */
  height: auto; /* Maintain aspect ratio of the image */
  z-index: 2; /* Position the image above the background */
}

/* Mission Satements */
.mission-section {
  text-align: center;
  margin: 50px auto;
}

/* Awards */
#awards-section {
  background-color: #e8d0b3;
  height: 350px;
  padding: 30px;
}
#awards-section h2 {
  text-align: center;
  margin-bottom: 30px;
}
#awards-section .flex-container {
  display: flex;
  justify-content: center;
}
.award {
  background-color: #fff;
  width: 300px;
  height: 200px;
  margin: 0 10px;
  border-radius: 20px;
  padding-top: 30px;
  text-align: center;
}


/* History */
#history-section h2 {
  text-align: center;
  padding: 50px;
}
#history {
  width: 800px;
  margin: 0 auto;
}

#history, th, td {
  border: 1px solid lightgray;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

#history td:nth-child(odd) {
  width: 150px;
}

.highlight {
  background-color: #eb7228;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
